@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --primary-color: #007297;
    --outline-primary: #bfd7df
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;

}